[Desktop Entry]
Version=1.0
Type=Application
Name=KSP
Comment=
Exec=/opt/KSP_linux/KSP.x86_64
Icon=/opt/KSP_linux/GameData/Squad/Flags/squadLogo.png
Path=
Terminal=false
StartupNotify=false
