[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[C84AA9A74AA9932C]
row=1
col=0

[E6B4-BC1D]
row=5
col=0

[E01029F71029D4F6]
row=0
col=0

[Wastebasket]
row=2
col=0

[/]
row=3
col=0

[/home/tumny]
row=4
col=0

